@model WebApplication7.Models.DepartmentVM


@{
    ViewBag.Title = "Create";
}

<h2>Create Department</h2>


@*HTML

    HTML Helper

    Tag Helper*@



@*<form action="/Department/Create" method="post" class="form-group">

        <label>Department Name</label>
        <input type="text" name="DepartmentName" class="form-control" />

        <br />

        <label>Department Code</label>
        <input type="text" name="DepartmentCode" class="form-control" />

        <br />

        <center>
            <input type="submit" value="Save" class="btn btn-primary" />
        </center>

    </form>*@




@*@using (Html.BeginForm("Create","Department",FormMethod.Post , new { id = "x" , @class = "y form-group" }))
    {


        @Html.TextBoxFor(Model => Model.DepartmentName)

    }*@


<form asp-controller="Department" asp-action="Create" method="post" class="form-group">

    <label asp-for="DepartmentName">Department Name</label>
    <input type="text" asp-for="DepartmentName" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentName"></span>
    <br />

    <label asp-for="DepartmentCode">Department Code</label>
    <input type="text" asp-for="DepartmentCode" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentCode"></span>

    <br />

    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
    </center>

</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
